{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 4,
  "trailingComma": "none",
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.ts?(x)",
      "options": {
        "parser": "babel-ts"
      }
    }
  ]
}